# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~

build/
dist/
target/
*.spkg
buf.gen.yaml
Cargo.lock
src/pb/

# Logs
*.log

# Node modules (if any)
node_modules/
.substreams.env

# Temp files
*.tmp
.cache/
